:root {
	--color-offwhite:  #f4f4f4;

   --color-main-light: #e7f4b8 ;
  --color-main-medium: #b7de2b;
  --color-main-dark: #779117;
}

body{
	background-color:var(--color-offwhite) ;
  padding-bottom:  4em;

}

.favorite label{
  transition: all 0.3s;
  display: inline-block;
  transform: scale(1,1);
color:  var(--color-neutral-medium);
}


.favorite input:checked + label {
color:  red;
transform:  scale(1.9, 1.9);
}


@media (max-width: 800px){
  .container{
    padding-left:  1em;
    padding-right:  1em;
  }


  .navbar h1 {
    padding-left:  .5em;
  }
}
@media(max-width: 400px){
.navbar .display-flex{
  display:  block;
}
.navbar .nav li {
  line-height: 1em;
}
}



.container h2{
color: var(--color-neutral-dark);
}

#article1{
background-image: url(../img/sale.png);
background-repeat: no-repeat;



}

.card shop {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;

}

.price {
  color: grey;
  font-size: 22px;
}

.card shop button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;

}
  /*Footer*/
  .footer {
	padding: 3em 5em;
	text-align: right;
	background-color: var(--color-neutral-dark);
	color: var( --color-black:);
	font-size: 0.75rem;
	flex-direction: column;
	flex-wrap: wrap;
}





	.terms-link:hover {
		text-decoration: underline;
		color: currentColor;
	}



.figure.product{
  border-radius: 0.5em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
}

.product-overlay figcaption{
  postion:  absolute;
}











